#header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  list-style-type: none;
  margin: 40px auto;
  padding: 0;
  top: 30px;
  overflow: hidden;
  background-color: white;
  width: 80%;
  font-size: 20px;
  overflow: visible;
}
#home {
  float: left;
}
.nav {
  color: black;
  display: block;
  float: right;
  border-radius: 15px;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
#search_box {
  text-align: center;
}
#search {
  text-indent: 20px;
  height: 40px;
  width: 30%;
  border-style: solid;
  border-width: thin;
  border-radius: 42px;
  border-color: #505050;
  background-color: white;
  font-size: 20px;
}
#login_container, #change_info_container, #signup_container{
  display:flex;
  flex-direction: column;
  margin:auto;
  width: 600px; 
  height: 720px;
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 20px;
}
#signup_container {
  display:flex;
  flex-direction: column;
  margin:auto;
  align-items: center;
  width: 600px; 
  height: 720px;
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 20px;
}
#singup_inner_container {
  display:flex;
  flex-direction: column;
  margin:auto;
  height: 500px;
  width: 330px;
}
#login_inner_container {
  display:flex;
  flex-direction: column;
  margin:auto;
  height: 300px;
  width: 330px;
}
#change_info_inner_container {
  display:flex;
  flex-direction: column;
  margin:auto;
  height: 300px;
  width: 330px;
}
#admin_search_container {
  display:flex;
  flex-direction: column;
  margin:auto;
  width: 1000px; 
  height: 800px;
}
#container {
  display:flex;
  flex-direction: column;
  margin:auto;
  width: 930px;
  height: 700px;
}
#admin_container{
  display:flex;
  flex-direction: column;
  margin:auto;
  width: 600px;
  height: 850px;
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 20px;
}
#admin_inner_container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 410px;
  height: auto;
}
#admin_inner_container input,
#admin_inner_container select {
  width: 100%;
}
#id, #product_name, #current_password{
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  height: 50px;
  width: 310px;
  text-indent: 10px;
}
#password, #email, #new_password, #confirm_password, #product_component,
#product_socket, #product_quantity, 
#product_component, #product_socket, #product_price, #product_quantity {
  margin-top: 30px;
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  height: 50px;
  width: 310px;
  text-indent: 10px;
}
#id:hover, #password:hover, #search:hover, .nav:hover,
#product_component:hover, #product_socket:hover, #product_price:hover,
#product_quantity:hover, #product_description:hover, #product_name:hover{
  transition-duration: 0.2s;
  background-color: #dbdbdb;
}
#product_name {
  margin-top: 30px;
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  height: 50px;
  width: 410px;
  text-indent: 10px;
}
#product_description {
  margin-top: 30px;
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  height: 300px;
}
.textarea-wrapper {
  position: relative;
}

.textarea-wrapper textarea {
  width: 100%;
  height: 150px;
  font-size: 14px;
  resize: vertical;
}
.textarea-wrapper textarea::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aaa;
  pointer-events: none;
  text-align: center;
}
#check_username_noti, #check_password_noti, #checkEmailNoti{
  min-height: 1em;
  font-size: 0.9em;
  margin-top: 4px;
  position: absolute;
}
#message-in-username, #message-in-password, #message-in-email{
  min-height: 1em;
  font-size: 0.9em;
  margin-top: 4px;
}
#email_code_container {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
#send_code_btn{
  color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(93, 123, 255);
  font-size: 16px;
  height: 50px;
  width: 120px;
}
#send_code_btn:hover {
  transition-duration: 0.2s;
  background-color: rgb(166, 183, 255);
}
#verify_code_btn {
  color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(93, 123, 255);
  font-size: 16px;
  height: 50px;
  width: 120px;
}
#verify_code_btn:hover {
  transition-duration: 0.2s;
  background-color: rgb(166, 183, 255);
}
#emailCode {
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
  height: 47px;
  width: 180px;
  text-indent: 10px;
  display:flex;
}
#timerDisplay {
  color: blue;
  position:absolute;
  margin-top: 40px;
}
#btnlogin, #btn_to_sign_up, #btn_to_sign_in{
  color: white;
  margin-top: 20px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(93, 123, 255);
  font-size: 20px;
  height: 50px;
  width: 310px;
}
#btnlogin:hover, #btn_to_sign_up:hover, #btn_to_sign_in:hover, #btnsignup:hover{
  transition-duration: 0.2s;
  background-color: rgb(166, 183, 255);
}
#btnsignup {
  color: white;
  margin-top: 80px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(93, 123, 255);
  font-size: 20px;
  height: 50px;
  width: 310px;
}
#product_table, #product_table_content {
  border: 1px solid rgb(158, 158, 158);
  border-collapse: collapse;
  text-align: center;
}
#emailNotification {
  margin-top: 5px;
  position: absolute;
}
.dropdown {
  position: relative;
  float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
  font-size: 15px;
}
.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  transition-duration: 0.2s;
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}