#header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  list-style-type: none;
  margin: 40px auto;
  padding: 0;
  top: 30px;
  overflow: hidden;
  background-color: white;
  width: 80%;
  font-size: 20px;
  overflow: visible;
}
#home {
  float: left;
}
.nav {
  color: black;
  display: block;
  float: right;
  border-radius: 15px;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
#search_box {
  text-align: center;
}
#search {
  text-indent: 20px;
  height: 40px;
  width: 400px;
  border-style: solid;
  border-width: thin;
  border-radius: 42px;
  border-color: #505050;
  background-color: white;
  font-size: 20px;
}
#login_container {
  display:flex;
  flex-direction: column;
  margin:auto;
  width: 600px; 
  height: 720px;
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 20px;
}
#product_container, #admin_search_container {
  display:flex;
  flex-direction: column;
  margin:auto;
  width: 1000px; 
  height: 800px;
}
#container {
  display:flex;
  flex-direction: column;
  margin:auto;
  height: 700px;
  width: 930px;
}
#singup_inner_container {
  display:flex;
  flex-direction: column;
  margin:auto;
  height: 500px;
  width: 330px;
}
#login_inner_container {
  display:flex;
  flex-direction: column;
  margin:auto;
  height: 300px;
  width: 330px;
}
#id, #current_password{
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  height: 50px;
  width: 310px;
  text-indent: 10px;
}
#id:hover, #password:hover, #search:hover, .nav:hover{
  transition-duration: 0.4s;
  background-color: #dbdbdb;
}
#password, #email, #new_password, #confirm_password{
  margin-top: 30px;
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  height: 50px;
  width: 310px;
  text-indent: 10px;
}
#check_username_noti, #check_password_noti, #checkEmailNoti{
  min-height: 1em;
  font-size: 0.9em;
  margin-top: 4px;
  position: absolute;
}
#message-in-username, #message-in-password, #message-in-email{
  min-height: 1em;
  font-size: 0.9em;
  margin-top: 4px;
}
#email_code_container {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
#send_code_btn{
  color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(93, 123, 255);
  font-size: 16px;
  height: 50px;
  width: 120px;
}
#send_code_btn:hover {
  transition-duration: 0.2s;
  background-color: rgb(166, 183, 255);
}
#verify_code_btn {
  color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(93, 123, 255);
  font-size: 16px;
  height: 50px;
  width: 120px;
}
#verify_code_btn:hover {
  transition-duration: 0.2s;
  background-color: rgb(166, 183, 255);
}
#emailCode {
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
  height: 47px;
  width: 180px;
  text-indent: 10px;
  display:flex;
}
#timerDisplay {
  color: blue;
  position:absolute;
  margin-top: 40px;
}
#btnlogin, #btn_to_sign_up, #btn_to_sign_in{
  color: white;
  margin-top: 20px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(93, 123, 255);
  font-size: 20px;
  height: 50px;
  width: 310px;
}
#btnlogin:hover, #btn_to_sign_up:hover, #btn_to_sign_in:hover, #btnsignup:hover{
  transition-duration: 0.2s;
  background-color: rgb(166, 183, 255);
}
#btnsignup {
  color: white;
  margin-top: 80px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(93, 123, 255);
  font-size: 20px;
  height: 50px;
  width: 310px;
}
#product_table, #product_table_content {
  border:1px solid black;
  border-collapse: collapse;
  text-align: center;
}
#emailNotification {
  margin-top: 5px;
  position:absolute;
}
#errorMessage {
  color: red;
  text-align: center;
}
#review_header{
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  height: 50px;
  width: 500px;
  text-indent: 10px;
}
#review_text{
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  height: 300px;
  width: 500px;
  text-indent: 10px;
}
#review_rating{
  border-style: solid;
  border-width: thin;
  border-color: #505050;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  height: 50px;
  width: 100px;
  text-indent: 10px;
}
.dropdown {
  position: relative;
  float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
  font-size: 15px;
}
.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  transition-duration: 0.2s;
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
