<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>review</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a class="nav" href="/" id="home">HOME</a>
        <th:block sec:authorize="isAuthenticated()">
            <a class="nav" href="/cart/list">CART</a>
            <a class="nav">WISHLIST</a>
            <div class="dropdown">
                <a class="nav" th:text="${#authentication.name}"></a>
                <div class="dropdown-content">
                    <a href="/signout">SIGN OUT</a>
                    <a href="/order/list">ORDER</a>
                    <a href="/review/list">REVIEW</a>
                </div>
            </div>
        </th:block>
        <form method="GET" action="/find-product">
            <div id="search_box">
                <input type="text" placeholder="Search" id="search" name="search">
            </div>
        </form>
    </div>
    <div th:if="${errorMessage}" style="color: red; text-align: center;">
        <p th:text="${errorMessage}"></p>
    </div>
    <div id="product_container">
        <div id="container">
            <form method="POST" th:action="@{/review/add}" th:object="${addReview}">
                <input type="text" th:field="*{reviewTitle}" id="review_header" placeholder="HEADER" required>
                <input type="text" th:field="*{reviewText}" id="review_text" placeholder="TEXT" required>
                <input type="number" th:field="*{rating}" id="review_rating" placeholder="RATING" required>
                <input type="hidden" th:field="*{productId}">
                <button type="submit" id="btnlogin">추가하기</button>
            </form>
        </div>
    </div>
</body>
</html>