<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Add Review</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
    </head>
    <body>
    <div th:replace="~{base-layout-user :: layout}"></div>
    <div id="product_container">
        <div id="container">
            <form method="POST" th:action="@{/review/add}" th:object="${addReview}" enctype="multipart/form-data">
                <input type="hidden" th:field="*{productId}">
                <input type="text" th:field="*{reviewTitle}" id="review_header" placeholder="HEADER" required>
                <div class="textarea-wrapper">
                    <textarea th:field="*{reviewText}" id="review_text" rows="5" cols="40" placeholder="TEXT" required></textarea>
                </div>
                <input type="number" th:field="*{rating}" id="review_rating" placeholder="RATING" min="1" max="10" required>
                <input type="file" name="uploadImages" multiple /><br/>
                <button type="submit" id="btnlogin">추가하기</button>
            </form>
        </div>
    </div>
</body>
</html>