<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>admin-products</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a class="nav" href="/" id="home">HOME</a>
        <div class="dropdown">
            <a class="nav" th:text="${#authentication.name}"></a>
            <div class="dropdown-content">
                <a href="/signout">SIGN OUT</a>
                <a href="/admin">ADMIN PAGE</a>
            </div>
        </div>
        <form method="GET" action="/admin/find-product">
            <div id="search_box">
                <input type="text" placeholder="Search" id="search">
            </div>
        </form>
    </div>
    <div id="admin_search_container">
        <div id="container">
            <table id="product-table">
                <thead>
                    <th id="product-table-content">NAME</th>
                    <th id="product-table-content">COMPONENT</th>
                    <th id="product-table-content">SOCKET</th>
                    <th id="product-table-content">PRICE</th>
                    <th id="product-table-content">ACTION</th>
                    <tr th:each="product : ${products}">
                        <td id="product-table-content" th:text="${product.name}"></td>
                        <td id="product-table-content" th:text="${product.component}"></td>
                        <td id="product-table-content"th:text="${product.socket}"></td>
                        <td id="product-table-content" th:text="${product.price}"></td>
                        <td id="product-table-content">
                            <form method="GET" action="/admin/update-product">
                                <input type="hidden" name="id" th:value="${product.id}">
                                <button type="submit">변경하기</button>
                            </form>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</body>
</html>