<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Add Product</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
    </head>
    <body>
    <div th:replace="~{base-layout-admin :: layout}"></div>
    <div id="admin_container">
        <div id="admin_inner_container">
            <form method="POST" th:action="@{/admin/add-product}" th:object="${addProduct}" enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="text" th:field="*{name}" placeholder="NAME" id="product_name" required>
                <div class="textarea-wrapper">
                    <textarea th:field="*{description}" placeholder="DESCRIPTION" rows="5" cols="40" id="product_description" required></textarea>
                </div>
                <select name="categoryId" id="product_component" required>
                    <option value="0" disabled 
                            th:selected="${addProduct.categoryId == null or addProduct.categoryId == 0}">
                        카테고리를 선택해주세요
                    </option>
                    <option th:each="category : ${productCategories}" 
                            th:value="${category.id}" 
                            th:text="${category.name}" 
                            th:selected="${addProduct.categoryId == category.id}">
                    </option>
                </select>
                <input type="text" th:field="*{socket}" placeholder="SOCKET" id="product_socket" required>
                <input type="number" th:field="*{price}" placeholder="PRICE" id="product_price" required>
                <input type="number" th:field="*{quantity}" placeholder="QUANTITY" id="product_quantity"  required>
                <input type="file" name="uploadImages" multiple /><br/>
                <input type="submit" id="btnlogin" value="ADD PRODUCT"></button>
            </form>
        </div>
        <a href="/admin/manage-product-category">GO TO MANAGE PRODUCT CATEGORIES</a>
    </div>

</body>
</html>