<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Manage Product Category</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
    </head>
    <body>
        <div th:replace="~{base-layout-admin :: layout}"></div>
        <div id="admin_container">
            <form method="POST" th:action="@{/admin/add-product-category}" th:object="${addProductCategory}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="text" th:field="*{name}" placeholder="NAME" id="product_category_name" required>
                <button type="submit">등록하기</button>
            </form>
            <div id="cart_message" th:if="${#lists.isEmpty(productCategories)}">
                <h1>카테고리가 비어있습니다.</h1>
            </div>
            <div th:each="productCategory : ${productCategories}">
                <h2 th:text="${productCategory.name}"></h2>
                <form method="POST" action="/admin/remove-product-category">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input type="hidden" name="productCategoryId" th:value="${productCategory.id}">
                    <button type="submit">삭제하기</button>
                </form>
            </div>
        </div>
    </body>
</html>