<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Cart List</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
        <link rel="stylesheet" href="/cart.css">
    </head>
    <body>
    <div th:replace="~{base-layout :: layout}"></div>
    <div id="cart_container">
        <div id="cart_message" th:if="${#lists.isEmpty(cartlist)}">
            <h1>장바구니가 비어 있습니다</h1>
        </div>
        <div class="cart_card" th:each="cartlist : ${cartlist}">
            <a th:href="@{/product/detail(id=${cartlist.product.id})}">
                <div th:if="${cartlist.product.imagePaths != null and #lists.size(cartlist.product.imagePaths) > 0}">
                    <img th:src="@{${cartlist.product.imagePaths[0]}}">
                </div>
            </a>
            <a th:href="@{/product/detail(id=${cartlist.product.id})}">
                <h2 id="cart_product_name" th:text="${cartlist.product.name}"></h2>
            </a>
            <div id="cart_rightside">
                <p class="cart_price" th:text="${#numbers.formatInteger(cartlist.product.price, 3, 'COMMA')} + ' 원'"></p>
                <div class="cart_btn">
                    <form method="POST" action="/order/add" sec:authorize="hasAuthority('ROLE_USER')">
                        <input type="hidden" name="productId" th:value="${cartlist.product.id}">
                        <input class="cart_quantity" type="number" name="quantity" th:value="${cartlist.quantity}">
                        <button type="submit"
                                th:disabled="${cartlist.status.name() == 'NOT_ORDERABLE'}"
                                th:text="${cartlist.status.name() == 'NOT_ORDERABLE' ? '주문 불가' : '주문하기'}">
                        </button>
                    </form>
                    <form method="POST" action="/cart/remove" sec:authorize="hasAuthority('ROLE_USER')">
                        <input type="hidden" name="productId" th:value="${cartlist.product.id}">
                        <button type="submit">삭제하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>