<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Manage Account</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
    </head>
    <body>
    <div th:replace="~{base-layout :: layout}"></div> <!--base-layout-user layout 불러오기 -->
    <div id="change_info_container">
        <div id="change_info_inner_container">
            <form method="POST" th:object="${changePassword}" th:action="@{/change-password}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="password" th:field="*{currentPassword}" placeholder="CURRENT PASSWORD" id="current_password" autocomplete="off" required>
                <input type="password" th:field="*{newPassword}" placeholder="NEW PASSWORD" id="new_password" oninput="CheckNewPassword()" autocomplete="off" required>
                <p id="check_password_noti"></p>
                <button type="submit" id="btnlogin">비밀번호 변경</button>
            </form>
        </div>
        <a href="/deleteAccountPage">회원탈퇴</a>
    </div>
    <script src="/js/change-password.js"></script>
</body>
</html>