<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>DeleteAccount</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
    </head>
    <body>
    <div th:replace="~{base-layout-user :: layout}"></div>
    </div>
    <div id="change_info_container">
        <div id="change_info_inner_container">
            <form method="POST" th:object="${deleteAccount}" th:action="@{/deleteAccount}">
                <input type="password" th:field="*{currentPassword}" placeholder="CURRENT PASSWORD" id="current_password" autocomplete="off" required>
                <input type="password" th:field="*{confirmPassword}" placeholder="CONFIRM PASSWORD" id="confirm_password" autocomplete="off" required>
                <button type="submit" id="btnlogin">아이디 삭제</button>
            </form>
        </div>
    </div>
</body>
</html>