<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>DeleteAccount</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
    </head>
    <body>
    <div th:replace="~{base-layout-user :: layout}"></div> <!--base-layout-user layout 불러오기 -->
    <div th:if="${errorMessage}" style="color: red; text-align: center;">
        <p th:text="${errorMessage}"></p>
    </div>
    <div id="login_container">
        <div id="container">
            <form method="POST" th:object="${deleteAccount}" th:action="@{/deleteAccount}">
                <input type="password" th:field="*{currentPassword}" placeholder="CURRENT PASSWORD" id="current_password" autocomplete="off" required>
                <input type="password" th:field="*{confirmPassword}" placeholder="CONFIRM PASSWORD" id="confirm_password" autocomplete="off" required>
                <button type="submit" id="btnlogin">아이디 삭제</button>
            </form>
        </div>
    </div>
</body>
</html>