<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Edit Review</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
        <link rel="stylesheet" href="/review.css">
    </head>
    <body>
    <div th:replace="~{base-layout-user :: layout}"></div>
    <div id="review_container">
        <div id="review_edit_container">
            <form method="POST" th:action="@{/review/edit}" th:object="${editReview}" enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" th:field="*{id}">
                <input type="text" th:field="*{reviewTitle}" id="review_header" placeholder="HEADER" required>
                <div class="textarea-wrapper">
                    <textarea th:field="*{reviewText}" id="review_text" rows="5" cols="40" placeholder="TEXT" required></textarea>
                </div>
                <input type="number" th:field="*{rating}" id="review_rating" placeholder="RATING" min="1" max="10" required>
                <div th:if="${editReview.imagePaths != null}">
                    <div id="review_added_photos">
                        <div th:each="path : ${editReview.imagePaths}">
                            <img id="review_added_photo" th:src="@{${path}}"/>
                            <label>
                                <input type="checkbox" th:name="deleteImagePaths" th:value="${path}" />
                                삭제
                            </label>
                        </div>
                    </div>
                </div>
                <input type="file" name="uploadImages" multiple /><br/>
                <button type="submit" id="btnlogin">수정하기</button>
            </form>
        </div>
    </div>
</body>
</html>