<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a class="nav" href="/home" id="home">HOME</a>
        <a class="nav" href="/signinPage">SIGN-IN</a>
        <a class="nav" href="">CART</a>
        <a class="nav" href="">WISHLIST</a>
        <div id="search_box">
            <input type="text" placeholder="Search" id="search">
        </div>
    </div>

</body>
</html>