<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a class="nav" href="/home" id="home">HOME</a>
        <div sec:authorize="!isAuthenticated()">
            <a class="nav" href="/signinPage">SIGN-IN</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="nav" href="">CART</a>
            <a class="nav" href="">WISHLIST</a>
        
            <!-- <div sec:authorize="hasRole('ADMIN')">
                <a class="nav" href="/admin">ADMIN PAGE</a>
            </div> -->
        
            <div class="dropdown">
                <a class="nav" th:text="${#authentication.name}"></a>
                <div class="dropdown-content">
                    <a href="/signout">SIGN OUT</a>
                    <a href="/order-history">ORDER HISTORY</a>
                </div>
            </div>
        </div>
        <div id="search_box">
            <input type="text" placeholder="Search" id="search">
        </div>
    </div>

</body>
</html>