<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Order List</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
        <link rel="stylesheet" href="/order.css">
    </head>
    <body>
    <div th:replace="~{base-layout-user :: layout}"></div>
    <div id="order_container">
        <div class="order_card" th:each="orderlist : ${orderlist}">
            <a th:href="@{/product/detail(id=${orderlist.product.id})}">
                <div th:if="${orderlist.product.imagePaths != null and #lists.size(orderlist.product.imagePaths) > 0}">
                    <img th:src="@{${orderlist.product.imagePaths[0]}}">
                </div>
            </a>
            <a th:href="@{/product/detail(id=${orderlist.product.id})}">
                <h2 th:text="${orderlist.product.name}"></h2>
            </a>
            <div class="order_info">
                <p th:text="${#numbers.formatInteger(orderlist.product.price, 3, 'COMMA')} + ' 원'"></p>
                <p th:text="${orderlist.quantity} + '개'"></p>
                <p th:text="${#temporals.format(orderlist.createdAt, 'yy/MM/dd HH시 mm분 주문')}"></p>
            </div>
            <div id="order_rightside">
                <p th:text="${#numbers.formatInteger(orderlist.quantity * orderlist.product.price, 3, 'COMMA')} + ' 원'"></p>
                <div class="order_btn">
                    <form method="POST" th:action="@{/order/remove}" th:object="${removeOrder}" sec:authorize="hasAuthority('ROLE_USER')">
                        <input type="hidden" name="productId" th:value="${orderlist.product.id}">
                        <input type="hidden" name="orderId" th:value="${orderlist.id}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <button type="submit">삭제하기</button>
                    </form>
                        <form method="GET" action="/review/add">
                        <input type="hidden" name="productId" th:value="${orderlist.product.id}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <button type="submit">리뷰하기</button>
                    </form>         
                </div>
            </div>
        </div>
    </div>
</body>
</html>