<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>order-list</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a class="nav" href="/" id="home">HOME</a>
        <th:block sec:authorize="isAuthenticated()">
            <a class="nav" href="/cart/list">CART</a>
            <a class="nav">WISHLIST</a>
            <div class="dropdown">
                <a class="nav" th:text="${#authentication.name}"></a>
                <div class="dropdown-content">
                    <a href="/signout">SIGN OUT</a>
                    <a href="/order-list">ORDER</a>
                    <a href="/change-info">MANAGE ACCOUNT</a>
                    <a href="/review/list">REVIEW</a>
                </div>
            </div>
        </th:block>
        <form method="GET" action="/find-product">
            <div id="search_box">
                <input type="text" placeholder="Search" id="search" name="search">
            </div>
        </form>
    </div>
    <div th:if="${errorMessage}" style="color: red; text-align: center;">
        <p th:text="${errorMessage}"></p>
    </div>
    <div id="product_container">
        <div id="container">
            <table id="product_table">
                <thead>
                    <th id="product_table_content">NAME</th>
                    <th id="product_table_content">COMPONENT</th>
                    <th id="product_table_content">SOCKET</th>
                    <th id="product_table_content">PRICE</th>
                    <th id="product_table_content">QUANTITY</th>
                    <th id="product_table_content">ORDER TIME</th>
                    <tr th:each="orderlist : ${orderlist}">
                        <td id="product_table_content" th:text="${orderlist.product.name}"></td>
                        <td id="product_table_content" th:text="${orderlist.product.component}"></td>
                        <td id="product_table_content"th:text="${orderlist.product.socket}"></td>
                        <td id="product_table_content" th:text="${orderlist.product.price}"></td>
                        <td id="product_table_content" th:text="${orderlist.quantity}"></td>
                        <td id="product_table_content" th:text="${#temporals.format(orderlist.createdAt, 'yy년 MM월 dd일 HH시 mm분')}"></td>
                        <td id="product_table_content">
                            <form method="POST" th:action="@{/order/remove}" th:object="${removeOrder}" sec:authorize="hasAuthority('ROLE_USER')">
                                <input type="hidden" name="productId" th:value="${orderlist.product.id}">
                                <input type="hidden" name="orderId" th:value="${orderlist.id}">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="submit">삭제하기</button>
                            </form>
                        </td>
                        <td id="product_table_content">
                            <form method="GET" action="/review/add">
                                <input type="hidden" name="productId" th:value="${orderlist.product.id}">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="submit">리뷰하기</button>
                            </form>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>