<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Product Detail</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
        <link rel="stylesheet" href="/product-detail.css">
    </head>
    <body>
        <div th:replace="~{base-layout :: layout}"></div>
        <div id="product_detail_container">
            <div id="product_detail_inner_container">
                <a class="product_title" th:text="${product.name}">상품 이름</a>
                <div class="product_meta">
                    <p th:text="${product.description}">설명</p>
                    <p th:text="'부품: ' + ${product.component.name}">부품</p>
                    <p th:text="'소켓: ' + ${product.socket}">소켓</p>
                </div>
                <hr id="product_detail_hr">
                <div class="product_detail_content">
                    <div th:if="${product.imagePaths != null and #lists.size(product.imagePaths) > 0}">
                        <img th:src="@{${product.imagePaths[0]}}">
                    </div>
                    <div class="product_purchase">
                        <a class="product_price" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')} + ' 원'"></a>
            
                        <form method="POST" th:action="@{/cart/add}" th:object="${addToCart}" sec:authorize="hasAuthority('ROLE_USER')">
                            <input type="hidden" name="productId" th:value="${product.id}">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <button type="submit" th:if="${product.quantity > 0}" class="cart_button ">장바구니 담기</button>
                            <span th:unless="${product.quantity > 0}">품절</span>
                        </form>
                    </div>
                </div>
            </div>
            <hr id="product_detail_hr">
            <div id="product_review_container">
                <div id="no_reviews" th:if="${#lists.size(reviewList) < 1}">
                    <p>등록된 리뷰가 없습니다.</p>
                </div>
                <div id="review_card" th:each="review : ${reviewList}">
                    <div th:if="${review.imagePaths != null and #lists.size(review.imagePaths) > 0}">
                        <img th:each="path : ${review.imagePaths}" th:src="@{${path}}"/>
                    </div>
                    <div class="review-text">
                        <div class="review_date_and_rating">
                            <p th:text="'평점: ' + ${review.rating}" class="review_rating"></p>
                            <div th:if="${review.createdAt != review.modifiedAt}">
                                <p th:text="${#temporals.format(review.modifiedAt, 'yy년 MM월 dd일 HH:mm 수정됨')}" class="review_date"></p>
                            </div>
                            <div th:unless="${review.createdAt != review.modifiedAt}">
                                <p th:text="${#temporals.format(review.createdAt, 'yy년 MM월 dd일 HH:mm 작성됨')}" class="review_date"></p>
                            </div>
                        </div>
                        <p th:text="${review.reviewTitle}" class="review_title"></p>
                        <p th:text="${review.reviewText}" class="review_body"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>