<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Product List</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
        <link rel="stylesheet" href="/product.css">
    </head>
    <body>
    <div th:replace="~{base-layout :: layout}"></div>
        <div id="product_container">
            <div id="container">
                <div id="product_order_btn">
                    <form method="GET" th:action="@{/find-product/date}">
                        <input type="hidden" name="searchValue" th:value="${searchValue}">
                        <button type="submit">최신 순</button>
                    </form>
                    <form method="GET" th:action="@{/find-product/sales}">
                        <input type="hidden" name="searchValue" th:value="${searchValue}">
                        <button type="submit">판매량 순</button>
                    </form>
                    <form method="GET" th:action="@{/find-product/reviews}">
                        <input type="hidden" name="searchValue" th:value="${searchValue}">
                        <button type="submit">리뷰 많은 순</button>
                    </form>
                </div>
                <div id="product-card" th:each="product : ${products.content}">
                    <div id="product_image" th:if="${product.imagePaths != null and #lists.size(product.imagePaths) > 0}">
                        <a th:href="@{/product/detail(id=${product.id})}">
                            <img class="product_image" th:src="@{${product.imagePaths[0]}}">
                        </a>
                    </div>
                    <div class="product-info">
                        <a th:href="@{/product/detail(id=${product.id})}">
                            <h2 th:text="${product.name}"></h2>
                        </a>
                        <p><strong>소켓:</strong> <span th:text="${product.socket}"></span></p>
                        <p><strong>부품: </strong><span th:text="${product.component.name}"></span></p>
                        <p>
                            <strong><span th:if="${productRatings[product.id] != 0}" th:text="${#numbers.formatDecimal(productRatings[product.id], 1, 1)}"></span></strong>
                            <span th:if="${productRatings[product.id] == 0}">리뷰 X</span>
                        </p>
                    </div>
                    <div class="product-actions">
                        <div id="product-price">
                            <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}"></span> 원</p>
                        </div>
                        <div class="product-buttons">
                            <form method="POST" th:action="@{/cart/add}" th:object="${addToCart}" sec:authorize="hasAuthority('ROLE_USER')">
                                <input type="hidden" name="productId" th:value="${product.id}">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="submit" th:if="${product.quantity > 0}" class="cart-button">장바구니 담기</button>
                                <span th:unless="${product.quantity > 0}">품절</span>
                            </form>
                            <form method="GET" action="/admin/update-product" sec:authorize="hasAuthority('ROLE_ADMIN')">
                                <input type="hidden" name="id" th:value="${product.id}">
                                <button type="submit">변경하기</button>
                            </form>
                            <form method="POST" action="/admin/remove-product" sec:authorize="hasAuthority('ROLE_ADMIN')">
                                <input type="hidden" name="id" th:value="${product.id}">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="submit">삭제하기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="pagination">
                    <div th:if="${products.totalPages > 1}">
                        <a th:if="${products.hasPrevious()}" th:href="@{${currentUrl}(page=${products.number - 1}, searchValue=${searchValue})}">이전</a>

                        <span th:each="pageNum : ${#numbers.sequence(0, products.totalPages - 1)}">
                            <a th:if="${pageNum != products.number}" 
                            th:href="@{${currentUrl}(page=${pageNum}, searchValue=${searchValue})}" 
                            th:text="${pageNum + 1}">1</a>
                            <span th:if="${pageNum == products.number}" th:text="${pageNum + 1}" style="font-weight: bold;"></span>
                        </span>

                        <a th:if="${products.hasNext()}" th:href="@{${currentUrl}(page=${products.number + 1}, searchValue=${searchValue})}">다음</a>

                
                        <a th:if="${products.hasNext()}" th:href="@{/find-product/date(page=${products.number + 1}, searchValue=${searchValue})}">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>