<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>product-list</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a class="nav" href="/" id="home">HOME</a>
        <!-- 로그아웃 상태 -->
        <th:block sec:authorize="!isAuthenticated()">
            <a class="nav" href="/signinPage">SIGN-IN</a>
        </th:block>
        <!-- 로그인 상태 -->
        <th:block sec:authorize="isAuthenticated()">
            <a class="nav" href="/cart/list">CART</a>
            <a class="nav">WISHLIST</a>
            <div class="dropdown">
                <a class="nav" th:text="${#authentication.name}"></a>
                <div class="dropdown-content">
                    <a href="/signout">SIGN OUT</a>
                    <a href="/order/list">ORDER</a>
                    <a href="/change-info">MANAGE ACCOUNT</a>
                    <a href="/review/list">REVIEW</a>
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <a href="/admin">ADMIN PAGE</a>
                    </th:block>
                </div>
            </div>
        </th:block>
        <form method="GET" action="/find-product">
            <div id="search_box">
                <input type="text" placeholder="Search" id="search" name="search">
            </div>
        </form>
    </div>
    <div th:if="${errorMessage}" style="color: red; text-align: center;">
        <p th:text="${errorMessage}"></p>
    </div>
    <div id="product_container">
        <div id="container">
            <table id="product_table">
                <thead>
                    <tr>
                        <th id="product_table_content">NAME</th>
                        <th id="product_table_content">COMPONENT</th>
                        <th id="product_table_content">SOCKET</th>
                        <th id="product_table_content">PRICE</th>
                        <th id="product_table_content">RATING</th>
                        <th id="product_table_content"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td id="product_table_content" th:text="${product.name}"></td>
                        <td id="product_table_content" th:text="${product.component}"></td>
                        <td id="product_table_content" th:text="${product.socket}"></td>
                        <td id="product_table_content">
                            <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}"></span>
                            <span> 원</span>
                        </td>
                        <td id="product_table_content">
                            <span th:if="${productRatings[product.id] != 0}" th:text="${#numbers.formatDecimal(productRatings[product.id], 1, 1)}"></span>
                            <span th:if="${productRatings[product.id] == 0}">리뷰 X</span>
                        </td>
                        <td id="product_table_content">
                            <form method="GET" action="/admin/update-product" sec:authorize="hasAuthority('ROLE_ADMIN')">
                                <input type="hidden" name="id" th:value="${product.id}">
                                <button type="submit">변경하기</button>
                            </form>
                            <form method="POST" action="/admin/remove-product" sec:authorize="hasAuthority('ROLE_ADMIN')">
                                <input type="hidden" name="id" th:value="${product.id}">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="submit">삭제하기</button>
                            </form>
                            <form method="GET" action="/review/productReview">
                                <input type="hidden" name="id" th:value="${product.id}">
                                <button type="submit" th:disabled="${productRatings[product.id] == 0}">리뷰보러 가기</button>
                            </form>
                            <form method="POST" th:action="@{/cart/add}" th:object="${addToCart}" sec:authorize="hasAuthority('ROLE_USER')">
                                <input type="hidden" name="productId" th:value="${product.id}">
                                <input type="number" th:field="*{quantity}" value="1" min="1">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="submit" th:if="${product.quantity > 0}">장바구니 담기</button>
                                <span th:unless="${product.quantity > 0}">품절</span>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>