<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Product Review List</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
    </head>
    <body>
    <div th:replace="~{base-layout :: layout}"></div> <!--base-layout layout 불러오기 -->
    <div th:if="${errorMessage}" style="color: red; text-align: center;">
        <p th:text="${errorMessage}"></p>
    </div>
    <div id="product_container">
        <div id="container">
            <table id="product_table">
                <thead>
                    <tr>
                        <th id="product_table_content">PHOTO</th>
                        <th id="product_table_content">TITLE</th>
                        <th id="product_table_content">TEXT</th>
                        <th id="product_table_content">RATING</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="review : ${reviewList}">
                        <td id="product_table_content">
                            <div th:if="${review.imagePaths != null}">
                                <img th:each="path : ${review.imagePaths}" 
                                     th:src="@{${path}}" 
                                     style="width: 200px; height: auto; margin: 5px;" />
                            </div>
                        </td>
                        <td id="product_table_content" th:text="${review.reviewTitle}"></td>
                        <td id="product_table_content" th:text="${review.reviewText}"></td>
                        <td id="product_table_content" th:text="${review.rating}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>