<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>signin</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a href="/" class="nav" id="home">HOME</a>
    </div>
    <div th:if="${errorMessage}" style="color: red; text-align: center;">
        <p th:text="${errorMessage}"></p>
    </div>
    <div id="login_container">
        <div id="login_inner_container">
            <form method="POST" th:object="${signin}" th:action="@{/signin}">
                <input type="text" th:field="*{username}" placeholder="ID" id="id" required>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

                <input type="password" th:field="*{password}" placeholder="PASSWORD" id="password" autocomplete="off" equired>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                
                <button type="submit" id="btnlogin">SIGN-IN</button>
            </form>
            <form method="GET" action="signupPage">
                <button type="submit" id="btn_to_sign_up">GO TO SIGN-UP</a>
            </form>
        </div>
    </div>
</body>
</html>