<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index.html</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a href="/" class="nav" id="home">HOME</a>
    </div>
    <div id="login_container">
        <div id="container">
            <form method="POST">
                <input type="text" placeholder="ID" id="id">
                <input type="text" placeholder="PASSWORD" id="password">
                <input type="submit" id="btnlogin" value="LOGIN"></button>
            </form>
        </div>
    </div>
</body>
</html>