<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>signup</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a href="/home" class="nav" id="home">HOME</a>
    </div>
    <div id="login_container">
        <div id="container">
            <form method="POST" action="/signup">
                <input type="text" placeholder="ID" id="id" name="username">
                <input type="text" placeholder="PASSWORD" id="password" name="password">
                <input type="text" placeholder="EMAIL" id="email" name="email">
                <input type="submit" id="btnlogin" value="SIGN-UP"></button>
            </form>
            <a href="/signinPage" >GO TO SIGN-IN</a>
        </div>
        </div>
    </div>
</body>
</html>