<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>signin</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a href="/home" class="nav" id="home">HOME</a>
    </div>
    <div id="login_container">
        <div id="container">
            <form method="POST" action="/signin">
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <input type="text" placeholder="ID" id="id" name="username" required>
                <input type="text" placeholder="PASSWORD" id="password" name="password" required>
                <input type="submit" id="btnlogin" value="LOGIN"></button>
            </form>
            <a href="/signupPage" >GO TO SIGN-UP</a>
        </div>
    </div>
</body>
</html>