<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/font.css">
    </head>
    <body>
    <div th:replace="~{base-layout-auth :: layout}"></div>
    <div id="signup_container">
        <div id="singup_inner_container">
            <form method="POST" th:object="${signup}" th:action="@{/signup}">
                <input type="text" th:field="*{username}" placeholder="ID" id="id" required
                    oninput="CheckUsername()"
                    pattern="^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{7,15}$"
                    title="아이디는 영문과 숫자를 포함한 7자 이상, 15자 이하이어야 합니다.">
                <p id="check_username_noti"></p>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" id="message-in-username"></div>

                <input type="password" th:field="*{password}" placeholder="PASSWORD" id="password" autocomplete="off" required 
                    oninput="CheckPassword()"
                    pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=]).{8,20}$"
                    title="비밀번호는 영문, 숫자, 특수문자를 포함한 8자 이상, 20자 이하이어야 합니다.">
                <p id="check_password_noti"></p>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" id="message-in-password"></div>

                <input type="email" th:field="*{email}" placeholder="EMAIL" id="email" required
                oninput="CheckEmail()"
                title="이메일을 작성해주세요.">
                <p id="checkEmailNoti"></p>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="message-in-email"></div>

                <div id="email_code_container">
                    <button type="button" id="send_code_btn" onclick="SendSecurityCode()">인증번호 전송</button>
                    <input type="text" id="emailCode" placeholder="인증번호 입력" required>
                    <button type="button" disabled=true id="verify_code_btn" onclick="VerifySecurityCode()">확인</button>
                </div>
                <div id="timerDisplay"></div>
            
                <p id="emailNotification"></p>

                <button type="submit" id="btnsignup">SIGN-UP</button>
            </form>
            <form method="GET" action="/signinPage">
                <button type="sumbit" id="btn_to_sign_in">GO TO SIGN-IN</button>
            </form>
        </div>
        </div>
    </div>
    <script src="/js/signup.js"></script>
</body>
</html>