<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>modify-product-detail</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' >
</head>
<body>
    <div id="header">
        <a class="nav" href="/" id="home">HOME</a>
        <div class="dropdown">
            <a class="nav" th:text="${#authentication.name}"></a>
            <div class="dropdown-content">
                <a href="/signout">SIGN OUT</a>
            </div>
        </div>
        <form method="GET" action="/find-product">
            <div id="search_box">
                <input type="text" placeholder="Search" id="search" name="search">
            </div>
        </form>
    </div>
    <div id="product_container">
        <div id="container">
            <form method="POST" action="/admin/update-product-detail">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="id" th:value="${product.id}">
                <input type="text" placeholder="name" id="id" name="name" th:value="${product.name}" required>
                <select name="component" id="password" required>
                    <option value="" disabled>Select Component</option>
                    <option th:each="category : ${productCategories}" 
                            th:value="${category}" 
                            th:text="${category}"
                            th:selected="${category.name() == product.component.name()}">
                    </option>
                </select>
                <input type="text" placeholder="socket" id="password" name="socket" th:value="${product.socket}" required>
                <input type="text" placeholder="price" id="password"  th:value="${product.price}" name="price" required>
                <input type="text" placeholder="quantity" id="password" th:value="${product.quantity}" name="quantity" required>
                <input type="submit" id="btnlogin" value="EDIT PRODUCT DETAIL"></button>
            </form>
        </div>
    </div>

</body>
</html>